<div class="conocenos-container">
    <video class="video-background" autoplay loop muted playsinline>
      <source src="../../assets/video/trabajo.mp4" type="video/mp4">
      Tu navegador no soporta la reproducción de video.
    </video>
    <div class="scrollable-content">
    <div class="conocenos-content fade-in">
      <h1>Conócenos</h1>
      <p>Bienvenido a nuestra plataforma Freelancers, donde conectamos a freelancers talentosos con clientes que necesitan sus servicios. Estamos comprometidos en ofrecer una experiencia confiable y segura para la contratación de freelancers en una amplia variedad de categorías.</p>
      <p>Nuestra misión es ayudarte a encontrar el talento adecuado para tus proyectos y proporcionar a los freelancers la oportunidad de mostrar sus habilidades y ganar dinero.</p>
    </div>
    <section class="conocenos-extra">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Nuestro Equipo</h2>
            <p>Nuestro equipo está compuesto por expertos en tecnología, diseño y gestión de proyectos. Estamos comprometidos en brindarte la mejor experiencia.</p>
          </div>
          <div class="col-md-6">
            <img src="../../assets/img/equipo.jpeg" id="animacion" alt="Nuestro Equipo" class="img-fluid ima">
          </div>
        </div>
      </div>
    </section>
    <section class="conocenos-extra">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es construir un espacio donde los talentosos freelancers puedan crecer y los clientes puedan encontrar el apoyo que necesitan.</p>
          </div>
          <div class="col-md-6 order-md-1">
            <img src="../../assets/img/negro.jpg" id="animacion" alt="Nuestra Misión" class="img-fluid ima">
          </div>
        </div>
      </div>
    </section>
    <section class="ventajas">
      <div class="container">
        <div class="ventajas-text">
          <h2>Ventajas de nuestra plataforma</h2>
          <p>¡Te sentiras muy bien despues de registrarte!</p>
          <div class="botones-banner d-flex align-items-center mt-5">
            <div class="boton mr-4 primario">
              <button>
                REGISTRATE GRATIS
              </button>
            </div>
          </div>
        </div>
        <div class="ventajas-items">
          <div class="ventaja-item">
            <i class="fas fa-check-circle"></i>
            <h3>Consistencia</h3>
            <p>Observa fechas y cotizacion de manera clara.</p>
          </div>
          <div class="ventaja-item">
            <i class="fas fa-globe"></i>
            <h3>Ampliedad</h3>
            <p>Amplia variedad de categorías para elegir.</p>
          </div>
          <div class="ventaja-item">
            <i class="fas fa-users"></i>
            <h3>Seguridad</h3>
            <p>Comunidad activa de freelancers y clientes.</p>
          </div>
        </div>
      </div>
    </section>
    
    <div class="filler-content"></div>
    </div>
  </div>
  