<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pathway+Gothic+One&family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Document</title>
    
</head>

<body>
    <header>

    </header>
    <main>
        <!-- <h1>Plataforma Freelancer</h1>
      <h2>BUSCA TRABAJO DE FORMA REMOTA</h2>
      <div class="botones-banner d-flex align-items-center mt-5">
        <div class="boton mr-4">
          <a href="#">REGISTRATE GRATIS</a>
        </div>
        <div class="boton">
          <a href="#"><img width="20" height="20" src="https://img.icons8.com/avantgarde/100/video.png" alt="video"/>¿CÓMO FUNCIONA?</a>
        </div>
      </div> -->
        <section class="hero pt-5" id="hero">
            <div class="container">
                <div class="row gy-5 pt-4">
                    <div
                        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-left text-lg-start">
                        <h1 class="mb-4">Plataforma Freelancer</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate perspiciatis
                            maxime? Modi.</p>
                        <div class="botones-banner d-flex align-items-center mt-5">
                            <div class="boton mr-4">
                                <a href="#">REGISTRATE GRATIS</a>
                            </div>
                            <a href="#"><img class="mr-3" width="20" height="20"
                                    src="https://img.icons8.com/avantgarde/100/video.png" alt="video" />¿Cómo
                                funciona?</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <img src="../../assets/img/b2.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="apartado">
            <div id="hero-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="../../assets/img/slid.jpg" class="d-block w-100 c-img" alt="Slide 1">
                        <div class="carousel-caption top-0 mt-5">
                            <h6>FREELANCERS</h6>
                            <p>Somos la plataforma en la que te puedes postular para encontrar un trabajo en el ámbito
                                de tecnologías, conocenos más</p>
                            <div class="boton-carusel secundario">
                                <button>Saber más</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="../../assets/img/slid2.jpg" class="d-block w-100 c-img" alt="Slide 2">
                        <div class="carousel-caption top-0 mt-5">
                            <h6>FREELANCERS</h6>
                            <p>Somos la plataforma en la que te puedes postular para encontrar un trabajo en el ámbito
                                de tecnologías, conocenos más</p>
                            <div class="boton-carusel secundario">
                                <button>Saber más</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="../../assets/img/slid.jpg" class="d-block w-100 c-img " alt="Slide 3">
                        <div class="carousel-caption top-0 mt-5">
                            <h6>FREELANCERS</h6>
                            <p>Somos la plataforma en la que te puedes postular para encontrar un trabajo en el ámbito
                                de tecnologías, conocenos más</p>
                            <div class="boton-carusel secundario">
                                <button>Saber más</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#hero-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <section id="apartado-color">
            <div class="categorias-flex text-center">
                <div class="container">
                    <h2 class="mb-5">Categorías</h2>
                    <h3 class="mb-5">TODAS LAS CATEGORÍAS EN LAS QUE TE PUEDES POSTULAR</h3>
                    <div class="row d-flex align-items-center pt-5">
                        <div class="col-lg-3">
                            <div class="categoria">
                                <img width="64" height="64"
                                    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-developer-web-development-flaticons-lineal-color-flat-icons.png"
                                    alt="external-developer-web-development-flaticons-lineal-color-flat-icons" />
                                <div class="cat-texto mt-3">
                                    <span>Desarrollador Web</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categoria">
                                <img width="64" height="64"
                                    src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-front-end-no-code-flaticons-flat-flat-icons.png"
                                    alt="external-front-end-no-code-flaticons-flat-flat-icons" />
                                <div class="cat-texto mt-3">
                                    <span>UX/UI</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categoria">
                                <img width="64" height="64"
                                    src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-database-computer-programming-flaticons-flat-flat-icons.png"
                                    alt="external-database-computer-programming-flaticons-flat-flat-icons" />
                                <div class="cat-texto mt-3">
                                    <span>Bases de Datos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categoria">
                                <img width="64" height="64"
                                    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-testing-mobile-app-development-flaticons-lineal-color-flat-icons.png"
                                    alt="external-testing-mobile-app-development-flaticons-lineal-color-flat-icons" />
                                <div class="cat-texto mt-3">
                                    <span>Tester</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="apartado">
            <div class="postulate d-flex align-items-center text-center">
                <div class="container secundario">
                    <h4>¿Eres cliente o contratista? Revisa los perfiles de cada postulado</h4>
                    <button>Ir al apartado</button>
                </div>
            </div>
        </section>


        <section id="apartado-color">
            <div class="container">
              <h3 class="text-center mb-5 pb-4">Preguntas Frecuentes</h3>
              <div class="row">
                <div class="col-lg-6" *ngFor="let faq of preguntasFrecuentes; let i = index">
                  <div class="usuario d-flex">
                    <div class="usuario-img">
                      <img width="30" height="30" [src]="faq.portada" alt="Icono de usuario" />
                    </div>
                    <div class="usuario-resp ml-3">
                      <h5>{{ faq.pregunta }}</h5>
                      <p class="pt-3" *ngIf="respuestasAbiertas[i]">{{ faq.respuesta }}</p>
                      <button class="ver-mas-boton" (click)="toggleRespuesta(i)">
                        {{ respuestasAbiertas[i] ? 'Cerrar' : 'Ver más' }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>            

</html>